index.qmd linguist-language=JavaScript
about.qmd linguist-language=HTML
retrospective/retrospective.qmd linguist-language=JavaScript
retrospective/education.qmd linguist-language=JavaScript
retrospective/experience.qmd linguist-language=JavaScript
retrospective/training.qmd linguist-language=JavaScript
retrospective/organization.qmd linguist-language=JavaScript
retrospective/cv.qmd linguist-language=JavaScript
retrospective/certifications.qmd linguist-language=JavaScript
retrospective/achievements.qmd linguist-language=JavaScript
projects/projects.qmd linguist-language=HTML
projects/mlaids.qmd linguist-language=HTML
projects/others.qmd linguist-language=HTML
misc.qmd linguist-language=JavaScript
notes.qmd linguist-language=JavaScript